{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class='container'>
    <h3 class="my-4 text-center">Material Cateogry</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 ">
                <div class="card-body">
                    <h5 class="card-title text-center text-success">Inventory 1</h5>
                    <p class="card-text text-left">Material Intro</p>
                    <a href="inventory/1" class="btn btn-primary w-100">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 ">
                <div class="card-body">
                    <h5 class="card-title text-center text-success">Inventory 2</h5>
                    <p class="card-text text-left">Material Intro</p>
                    <a href="inventory/2" class="btn btn-primary w-100">View</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 ">
                <div class="card-body">
                    <h5 class="card-title text-center text-success">Inventory 3</h5>
                    <p class="card-text">Material Intro</p>
                    <a href="inventory/3" class="btn btn-primary w-100">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 ">
                <div class="card-body">
                    <h5 class="card-title text-center text-success">Inventory 4</h5>
                    <p class="card-text text-left">Material Intro</p>
                    <a href="inventory/4" class="btn btn-primary w-100">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 ">
                <div class="card-body">
                    <h5 class="card-title text-center text-success">Inventory 5</h5>
                    <p class="card-text text-left">Material Intro</p>
                    <a href="inventory/5" class="btn btn-primary w-100">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}