{% extends 'base.html' %}
{% block title %}Transactions{% endblock title %}
{% block body %}
<div class="container my-3 ">
    <h3 class="text-center">Inventory: {{inv_id}}</h3>
    <a href='/inventory/{{inv_id}}' class='btn btn-primary btn-sm mb-2'>&larr; Inventory {{inv_id}}</a>
    <h5>Material: {{mat_code}}/{{mat_name}}</h5>
    <b>Balance: </b>{{balance}} {{unit}}
    <!-- Modal Button-->
    <button type="button" class="btn btn-success btn-sm my-1 float-end" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Issue Material
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Issue Material: {{mat_code}}/{{mat_name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method='POST' action='/transactions/inventory/{{inv_id}}/material_code/{{mat_code}}'>
                        {% csrf_token %}
                         {{ form.as_div }} 
                        <button type='submit' class='btn btn-primary w-100'>Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3  mb-0 ">
        <div class="mb-3 ">
            <table id="table_id" class="table-light table table-striped table-bordered w-100">
                <thead>
                    <tr>
                        <th>Trans. Id</th>
                        <th>Material Code</th>
                        <th>Material Name</th>
                        <th>In/Out</th>
                        <th>Quantity</th>
                        <th>Balance</th>
                        <th>Issued To</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in mat_trans %}
                    <tr>
                        <td>{{entry.id}}</td>
                        <td>{{entry.material_code}}</td>
                        <td>{{entry.material_name}}</td>
                        <td>{{entry.in_out}}</td>
                        <td>{{entry.quantity}} {{unit}}</td>
                        <td>{{entry.balance}} {{unit}}</td>
                        <td>{{entry.issued_to}}</td>
                        <td>{{entry.remark}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- for data table -->
            <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
            <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"> </script>
            <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
            <script>
                $(document).ready(function () {
                    $('#table_id').DataTable({
                        "scrollX": true,
                        // "order": [
                        //     [1, "desc"]
                        // ],
                        "pageLength": 50
                    });
                });
            </script>
        </div>
    </div>
</div>

{% endblock body %}